
@{
    ViewData["Title"] = "Sürücü Adayı Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Entities.Concrete.DriverInformation

<div class="card card-custom card-sticky" id="kt_page_sticky_card">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"] <i class="mr-2"></i>
                <small class="">@ViewData["Title"] Ekleme - Düzenleme - Silme</small>
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="/Driver/Index"  class="btn btn-light-primary font-weight-bolder mr-2">
                <i class="ki ki-long-arrow-back icon-sm"></i>
                Geri
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-primary font-weight-bolder">
                    <i class="ki ki-check icon-sm"></i>
                    Onayla
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <ul class="nav nav-hover flex-column">
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link" onclick="js_addDriver(0)"> <!--Öncesinde Kaydetme İşlemi Yapılacak-->
                                <i class="nav-icon flaticon2-reload"></i>
                                <span class="nav-text">Kaydet & Devam Et</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link" onclick="js_addDriver(1)"> <!--Öncesinde Kaydetme İşlemi Yapılacak-->
                                <i class="nav-icon flaticon2-add-1"></i>
                                <span class="nav-text">Kaydet & Yeni Kayıt</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link" onclick="js_deleteDriverByIdQ(@if (Model != null) @Model.Id)" >
                                <i class="nav-icon flaticon2-delete"></i>
                                <span  class="nav-text">Sil</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!--begin::Form-->
        <form class="form" id="kt_form">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <div class="my-5">
                        <h3 class=" text-dark font-weight-bold mb-10">Sürücü Adayı Genel Bilgiler:</h3>
                        <!--begin::Group-->
                        <div class="form-group row" hidden="hidden">
                            <label class="col-xl-3 col-lg-3 col-form-label">Id</label>
                            <div class="col-lg-9 col-xl-9">
                                <input class="form-control form-control-solid form-control-lg" disabled="disabled" name="txtId" id="txtId" type="text" value="@if (Model != null) @Model.Id" />
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label text-left">Sürücü Adayı Resmi</label>
                            <div class="col-lg-9 col-xl-9">
                                <div class="image-input image-input-outline" id="kt_user_add_avatar">
                                    <div class="image-input-wrapper" style="background-image: url(assets/media/users/100_6.jpg)"></div>
                                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Resim Düzenle">
                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="profile_avatar_remove" />
                                    </label>
                                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Resim Düzenle">
                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Adı</label>
                            <div class="col-lg-9 col-xl-9">
                                <input class="form-control form-control-solid form-control-lg" name="txtName" id="txtName" type="text" value="@if (Model != null) @Model.Name" />
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Soyadı</label>
                            <div class="col-lg-9 col-xl-9">
                                <input class="form-control form-control-solid form-control-lg" name="txtSurname" id="txtSurname" type="text" value="@if (Model != null) @Model.Surname" />
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Tc Kimlik No</label>
                            <div class="col-lg-9 col-xl-9">
                                <input class="form-control form-control-solid form-control-lg" name="txtIdentityNo" id="txtIdentityNo" type="number" value="@if (Model != null) @Model.IdentityNo" />
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Telefon 1</label>
                            <div class="col-lg-9 col-xl-9">
                                <div class="input-group input-group-solid input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-phone"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-solid form-control-lg phone" name="txtPhone1" id="txtPhone1" value="@if (Model != null) @Model.Phone1" placeholder="Telefon 1" />
                                </div>
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Telefon 2</label>
                            <div class="col-lg-9 col-xl-9">
                                <div class="input-group input-group-solid input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-phone"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-solid form-control-lg phone" name="txtPhone2" id="txtPhone2" value="@if (Model != null) @Model.Phone2" placeholder="Telefon 1" />
                                </div>
                            </div>
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Email Adresi</label>
                            <div class="col-lg-9 col-xl-9">
                                <div class="input-group input-group-solid input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-at"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-solid form-control-lg" name="txtEmail" id="txtEmail" value="@if (Model != null) @Model.Email" />
                                </div>
                            </div>
                        </div>
                        <!--end::Group-->
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="my-5">
                        <h3 class=" text-dark font-weight-bold mb-10">Sürücü Adres Bilgileri:</h3>
                        <!--begin::Group-->
                        <div class="form-group">
                            <label>Address Satırı 1</label>
                            <input type="text" class="form-control form-control-solid form-control-lg" name="txtAddress1" id="txtAddress1" placeholder="Address Satırı 1" value="@if(Model != null) @Model.Address1" />
                        </div>
                        <!--end::Group-->
                        <!--begin::Group-->
                        <div class="form-group">
                            <label>Address Satırı 2</label>
                            <input type="text" class="form-control form-control-solid form-control-lg" name="txtAddress2" id="txtAddress2" placeholder="Address Satırı 2" value="@if(Model != null) @Model.Address2" />
                        </div>
                        <!--end::Group-->
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Group-->
                                <div class="form-group">
                                    <label>İl</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" name="txtCity" id="txtCity" placeholder="İl Adı" value="@if(Model != null) @Model.City" />
                                </div>
                            </div>
                            <!--end::Group-->
                            <!--begin::Group-->
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>İlçe</label>
                                    <input type="text" class="form-control form-control-solid form-control-lg" name="txtCounty" id="txtCounty" placeholder="İlçe Adı" value="@if(Model != null) @Model.County" />
                                </div>
                            </div>
                            <!--end::Group-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <div class="separator separator-dashed my-10"></div>
                    <div class="my-52">
                        <h3 class=" text-dark font-weight-bold mb-10">Sürücü Kurs Bilgileri:</h3>
                        <!--begin::Group-->
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">Kurs Ücreti</label>
                            <div class="col-lg-9 col-xl-9">
                                <input class="form-control form-control-solid form-control-lg numeric2" name="txtCourseFee" id="txtCourseFee" type="text" value="@if (Model != null) @Model.CourseFee" />
                            </div>
                        </div>
                        <!--end::Group-->

                        @await Component.InvokeAsync("BranchList", new { branchId = ((Model == null || Model.Branch == null) ? (int)0 : (int)Model.Branch.Id) })

                        @await Component.InvokeAsync("SessionList", new { sessionId = ((Model == null || Model.Session == null) ? (int)0 : (int)Model.Session.Id) })

                    </div>
                    <div class="separator separator-dashed my-10"></div>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>

<script src="~/js/Driver/js_Driver.js"></script>